@import "https://fonts.googleapis.com/icon?family=Material+Icons";
* {
  box-sizing: border-box;
  overflow-x: hidden;
}

html {
  height: 100%;
}

*,
*:after,
*before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;

  flex-direction: column;
  letter-spacing: -0.5px;

  color: #171718;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
