@import "https://fonts.googleapis.com/icon?family=Material+Icons";
* {
  box-sizing: border-box;
  overflow-x: hidden;
}

html {
  height: 100%;
}

*,
*:after,
*before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;

  flex-direction: column;
  letter-spacing: -0.5px;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}
main {
  height: 100%;
}
html,
body {
  height: 100%;
}
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.theme-changer {
  background: transparent;
  border: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  justify-content: center;
  padding-top: 4px;
  box-shadow: 0.7px 0.7px 0.5px black;
  transition: all 0.3s;
  &:active {
    margin-top: 0.4px;
  }
  &:hover {
  }

  svg {
    fill: white;
  }
}
